<span class="admin-action">
    <%= link_to "↻", refresh_all_feeds_path, title: 'refresh all active feeds' %>
    |
    <%= link_to "feeds", feeds_path, title: 'feed administration' %>
    |
    <%= link_to "users", users_path, title: 'user administration' %>
    |
</span>
